@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body{
  font-family: "Roboto Condensed" Verdana;
}
/********Navigation Bar********/

:root{
  --primary-white : #fff;
  --primary-orange : #f75e07;
}

.logo{
  width:130px;
  height:100px; 
  box-shadow: 5px 3px #1d1c1c;;
}

/*******Meni-links*******/

nav a.nav-link{
  margin-left: 30px;
  letter-spacing: 0.0400;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}
nav ul{
  margin-left: 20px;
}
.navbar-nav > li > a{
  color:var(--primary-white) !important;
}

.navbar-nav > li > a.active , .navbar-nav > li > a.active:focus {
  border-top: 2px solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 2px solid var(--primary-orange);
}

